<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bot do menu gostoso</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi whatsapp-icon" aria-hidden="true"></span> Sessão
            </NavLink>
            <NavLink class="nav-link" href="message" Match="NavLinkMatch.All">
                <span class="bi message-icon" aria-hidden="true"></span> Mensagem
            </NavLink>
            <NavLink class="nav-link" href="auto-response" Match="NavLinkMatch.All">
                <span class="bi message-icon" aria-hidden="true"></span> Resposta
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
